# Données météo vieux port + capteur

In [38]:
import pandas as pd
import numpy as np
import seaborn as sns
import csv

In [21]:
meteo_data = pd.read_csv("../Meteo/Marseille_2022-10-01_to_2022-10-25.csv")
sensor_data = pd.read_csv("../Data_purple_air/data_vieux_port_1-25-novembre")

In [46]:
len(meteo_data)

pandas.core.frame.DataFrame

In [51]:

print(meteo_data.columns.tolist())

meteo_data['Dates'] = pd.to_datetime(meteo_data['datetime']).dt.date
meteo_data['Time'] = pd.to_datetime(meteo_data['datetime']).dt.time

meteo_data

['name', 'datetime', 'temp', 'feelslike', 'dew', 'humidity', 'precip', 'precipprob', 'preciptype', 'snow', 'snowdepth', 'windgust', 'windspeed', 'winddir', 'sealevelpressure', 'cloudcover', 'visibility', 'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'conditions', 'icon', 'stations']

,name,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,...,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations,Dates,Time
0,Marseille,2022-10-01T00:00:00,13.9,13.9,8.0,67.21,0.0,0,NaN,0,...,41.5,NaN,NaN,NaN,NaN,Clear,clear-night,"07563099999,07648099999,07647099999,LFML,07650...",2022-10-01,00:00:00
1,Marseille,2022-10-01T01:00:00,13.8,13.8,8.1,68.37,0.0,0,NaN,0,...,41.5,NaN,NaN,NaN,NaN,Clear,clear-night,"07563099999,07648099999,07647099999,LFML,07650...",2022-10-01,01:00:00
2,Marseille,2022-10-01T02:00:00,13.6,13.6,7.8,68.07,0.0,0,NaN,0,...,41.5,NaN,NaN,NaN,NaN,Clear,clear-night,"07563099999,07648099999,07647099999,LFML,07650...",2022-10-01,02:00:00
3,Marseille,2022-10-01T03:00:00,13.5,13.5,7.8,68.48,0.0,0,NaN,0,...,41.5,NaN,NaN,NaN,NaN,Clear,clear-night,"07563099999,07648099999,07647099999,LFML,07650...",2022-10-01,03:00:00
4,Marseille,2022-10-01T04:00:00,12.8,12.8,7.8,71.23,0.0,0,NaN,0,...,41.5,NaN,NaN,NaN,NaN,Clear,clear-night,"07563099999,07648099999,07647099999,LFML,07650...",2022-10-01,04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591,Marseille,2022-10-25T15:00:00,25.7,25.7,16.3,55.97,0.0,0,NaN,0,...,15.4,570.0,2.1,6.0,NaN,Overcast,cloudy,"07563099999,07648099999,E6174,07647099999,LFML...",2022-10-25,15:00:00
592,Marseille,2022-10-25T16:00:00,26.3,26.3,15.4,51.03,0.0,0,NaN,0,...,16.6,332.0,1.2,3.0,NaN,Partially cloudy,partly-cloudy-day,"07563099999,07648099999,E6174,07647099999,LFML...",2022-10-25,16:00:00
593,Marseille,2022-10-25T17:00:00,24.5,24.5,15.4,56.88,0.0,0,NaN,0,...,25.5,155.0,0.6,2.0,NaN,Clear,clear-day,"07563099999,07648099999,E6174,07647099999,LFML...",2022-10-25,17:00:00
594,Marseille,2022-10-25T18:00:00,22.8,22.8,16.2,66.16,0.0,0,NaN,0,...,28.1,32.0,0.1,0.0,NaN,Clear,clear-day,"07563099999,07648099999,E6174,07647099999,LFML...",2022-10-25,18:00:00
595,Marseille,2022-10-25T19:00:00,21.5,21.5,15.9,70.63,0.0,0,NaN,0,...,27.1,19.0,0.1,0.0,NaN,Partially cloudy,partly-cloudy-night,"07563099999,07648099999,E6174,07647099999,LFML...",2022-10-25,19:00:00

In [16]:
meteo_data.fillna(value={"humidity":0}).humidity.head()
meteo_data.describe()

,temp,feelslike,dew,humidity,precip,precipprob,snow,snowdepth,windgust,windspeed,winddir,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk
count,600.000000,600.000000,600.000000,600.00000,600.000000,600.000000,600.0,600.0,600.00000,600.000000,600.000000,600.000000,600.000000,600.000000,292.000000,292.000000,292.000000,0.0
mean,19.532000,19.534500,15.014667,76.34280,0.005655,5.666667,0.0,0.0,20.44050,11.169833,169.891500,1020.261667,66.418667,21.725833,254.383562,0.914726,2.527397,NaN
std,3.506913,3.512804,2.063374,12.34567,0.037122,23.139749,0.0,0.0,10.62071,6.815856,95.523943,3.620333,40.615360,9.058735,212.924870,0.769493,2.197140,NaN
min,10.800000,10.800000,6.800000,46.29000,0.000000,0.000000,0.0,0.0,5.40000,0.500000,2.000000,1013.100000,0.000000,1.200000,1.000000,0.000000,0.000000,NaN
25%,16.700000,16.700000,13.900000,67.15750,0.000000,0.000000,0.0,0.0,11.50000,5.800000,101.000000,1017.500000,23.900000,14.975000,61.500000,0.200000,1.000000,NaN
50%,19.700000,19.700000,15.100000,77.54000,0.000000,0.000000,0.0,0.0,17.55000,9.200000,136.500000,1019.600000,90.000000,19.750000,210.000000,0.800000,2.000000,NaN
75%,22.500000,22.500000,16.200000,87.49750,0.000000,0.000000,0.0,0.0,27.20000,15.325000,267.000000,1022.300000,100.000000,27.125000,398.500000,1.425000,4.000000,NaN
max,28.300000,28.500000,20.100000,98.25000,0.526000,100.000000,0.0,0.0,58.00000,38.200000,360.000000,1028.200000,100.000000,41.500000,768.000000,2.800000,8.000000,NaN

In [49]:


sensor_data['Dates'] = pd.to_datetime(sensor_data['created_at']).dt.date
sensor_data['Time'] = pd.to_datetime(sensor_data['created_at']).dt.time

In [50]:
sensor_data

,created_at,PM1.0_CF1_ug/m3,PM2.5_CF1_ug/m3,PM10.0_CF1_ug/m3,UptimeMinutes,RSSI_dbm,Temperature_F,Humidity_%,PM2.5_ATM_ug/m3,Unnamed: 9,Dates,Time
0,2022-10-01 00:00:00 UTC,0.00,0.00,0.02,6546.0,-90.17,61.80,48.93,0.00,NaN,2022-10-01,00:00:00
1,2022-10-01 01:00:00 UTC,0.00,0.00,0.04,6606.0,-90.30,61.57,51.27,0.00,NaN,2022-10-01,01:00:00
2,2022-10-01 02:00:00 UTC,0.00,0.01,0.12,6666.0,-89.53,61.37,51.43,0.01,NaN,2022-10-01,02:00:00
3,2022-10-01 03:00:00 UTC,0.00,0.02,0.11,6726.0,-90.47,61.57,49.87,0.02,NaN,2022-10-01,03:00:00
4,2022-10-01 04:00:00 UTC,0.93,1.97,2.28,6786.0,-89.80,61.03,50.83,1.97,NaN,2022-10-01,04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
591,2022-10-25 15:00:00 UTC,0.26,1.93,2.44,4358.0,-88.87,78.93,46.20,1.92,NaN,2022-10-25,15:00:00
592,2022-10-25 16:00:00 UTC,0.69,3.03,3.62,4418.0,-88.40,75.13,55.50,3.03,NaN,2022-10-25,16:00:00
593,2022-10-25 17:00:00 UTC,0.45,2.65,3.11,4478.0,-88.23,73.53,57.23,2.65,NaN,2022-10-25,17:00:00
594,2022-10-25 18:00:00 UTC,2.99,5.98,6.59,4538.0,-88.63,73.80,61.80,5.98,NaN,2022-10-25,18:00:00
595,2022-10-25 19:00:00 UTC,2.57,5.31,6.00,4591.0,-87.83,75.00,55.70,5.31,NaN,2022-10-25,19:00:00

In [24]:
print(sensor_data.columns.tolist())

['created_at', 'PM1.0_CF1_ug/m3', 'PM2.5_CF1_ug/m3', 'PM10.0_CF1_ug/m3', 'UptimeMinutes', 'RSSI_dbm', 'Temperature_F', 'Humidity_%', 'PM2.5_ATM_ug/m3', 'Unnamed: 9']

In [ ]:
df3 = pd.to